extends layout

block content
  .container
      //
         Main component for a primary marketing message or call to action 
      .jumbotron
        h1 Welcome To
        h1
          i.fa.fa-facebook acedash
          
        p
          | Login to find out about YOU and YOUR friends
        p
          a.btn.btn-lg.btn-primary(href='/auth/facebook') Login
script(type='text/javascript', src='/javascripts/spinner.js')