extends layout

block content
  .container
      //
         Main component for a primary marketing message or call to action 
      .jumbotron
        h1 Welcome To Facedashboard
        p
          | Login to find out about your friends and 
        p
          a.btn.btn-lg.btn-primary(href='/auth/facebook') Login »