doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js')
    block content