body{
  background: #e7e7e7 url("/images/withey.png") repeat scroll right top;
}

.big{
  font-size: 70px;
  text-align: center;
  color: #222222;
  font-weight: bold;
}

.col-md-6{
  margin-bottom: 40px;
}

.list-group-item{
  background-color: transparent;
}

.list-group, .badge{
  font-size: 14px;
}

.label-default{
  background-color: transparent;
  color: #fff;
  font-weight: bold;
}

h3{
  font-weight: bold;
}

.jumbotron{
  background-color: transparent;
  text-align: center;
}

#foo{
      position: absolute;
      height: 0%;
      width: 0%;
      top: 50%;
      left: 50%;
      background-color: #e7e7e7;
    }